body {
    background-color: black;
}
.tile {
    display: inline-flex;
    
}

.grass {
    background-image: url('../tiles/floor.png');
    background-size: 40px;
}


.rock {
    background-image: url('../tiles/rock.png');
}

.tree {
    background-image: url('../tiles/tree.png');
    background-size: 40px;
}

.hospital {
    background-image: url('../tiles/hospital.png');
}