body {
    background-color: black;

}
.tile {
    display: inline-flex;
    background-color: #497674;
}

.grass {
    background-image: url('../tiles/leafygrasshires.png');
    background-size: 32px;
    
}


.rock {
    background-image: url('../tiles/bigrock.png');
    background-size: 32px;
}

.tree {
    background-image: url('../tiles/tree.png');
    background-size: 32px;
}

.hospital {
    background-image: url('../tiles/hospital.png');
    background-size: 32px;
}

