body {
    background-color: black;
}
.tile {
    display: inline-flex;
    background-color:white;
}

.grass {
    background-color:white;
}

.rock {
    background-image: url('../../tiles/rock.png');
    margin: 0;
    padding: 0;
}

.tree {
    background-image: url('../../tiles/tree.png');
}